/*
шрифты
roboto 400 500 700 900
raleway 700
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
cubic-bezier(0.4, 0, 0.2, 1)

transition-property:
transition-duration: 250ms;
transition-timing-function: var(--cubic);
transition-delay: 0;

visually hidden

 position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
*/

:root {
  --main-text: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --secondary-background: #f5f4fa;
  --black: #000000;
  --white: #ffffff;
  --dark-background: #2f303a;
  --address-inactive: color: rgba(255, 255, 255, 0.6);
  --header-border: #ECECEC;
  --hero-button-hover: #188CE8;
  --social-icon: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  */

.link {
  text-decoration: none;
}

body {
  color: var(--main-text);
  background-color: var(--main-background);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}


h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
width: 1200px;
padding: 0 15px;
margin-right: auto;
margin-left: auto;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}


/* header */

header {
  border-bottom: 1px solid #ECECEC; 
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }


.logo-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-header {
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-footer {
  color: var(--main-background);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
  }
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}
.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
}

.current::after {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-list li + li {
  margin-left: 50px;
}

.nav-contact {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text);
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
 
}
.nav-contact:hover,
.nav-contact:target {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav {
  display: flex;
  margin-left: 93px;
  }
  
.nav li:not(:last-child) {
  margin-right: 50px;
}

/* hero */
.hero {
  background-color: var(--dark-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url("../images/hero.jpg") ;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.hero-title {
  font-size: 44px;
  color: var(--white);
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.875;
  font-size: 16px;
  width: 200px;
  height: 50px;

transition: background-color 250ms var(--cubic);
}
.hero-button:hover,
.hero-button:focus {
background-color: var(--hero-button-hover);
}



/* main */

/* features */

.features.list {
display: flex;
justify-content: center;
}

.features-list-item {
  width: 270px;
}

.features.list li+li {
    margin-left: 30px;
}
.features-paragraph {
  display: block;
  width: 270px; 
}
.features-icon {
  width: 70px;
  height: 70px;

}
.features-icon-box {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;
  }

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.title-text {
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
}

/* visually hidden */
.section-title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* occupation */
.occupation.section {
  padding-top: 0;
}

.occupation.list {
  display: flex;
  justify-content: center;
}
.occupation li+li {
  margin-left: 30px;
}

.occupation-item {
  position: relative;
}



.occupation-overlay {
  background-color: var(--dark-background);
  display: block;
  position: absolute;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 80%;

}

.occupation-text {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: var(--main-background);

display: block;
width: 370px;
position: absolute;
bottom: 27px;
}

/* team */
.team.section {
  background-color: var(--secondary-background);
}

.team.list {
  display: flex;
  justify-content: center;
}

.team-member {
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  text-align: center;
}

.team > li+li {
  margin-left: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.17;
  font-size: 16px;
}
.team-job {
  line-height: 1.17;
  font-size: 16px;
  margin-top: 10px;
}
 .team-social {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
  }
  .team-social-item {
    color: var(--social-icon);    
    }

  .team-social-item:not(:last-child) {
    margin-right: 10px;
  }

  .team-social-link {
    color: var(--social-icon);
    fill: var(--social-icon);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    transition: background-color 250ms var(--cubic);
      }

  .team-social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  .team-social-link:hover, .team-social-link:focus {
    color: var(--main-background);
    fill: currentColor;
    background-color: var(--accent-color);
  }



/* clients section */
  .clients-list {
    display: flex;
  }
  .clients-list-item {
    display: flex;
          }

  .clients-link {
    color: var(--social-icon);
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-icon);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 250ms var(--cubic), color 250ms var(--cubic);
          }

  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  /* width: 106px;
  height: 60px; */
  fill: currentColor;
}

/* footer */
.footer {  
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background);
}

.logo-link-footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.address-text {
  color: var(--white);
  font-style: normal;
  text-decoration: none;
}
.address {
  color: var(--address-inactive);
  font-style: normal;
  text-decoration: none;

  transition: color 250ms var(--cubic);

}
.address:hover,
.address:focus {
  color: var(--white);
}
address ul {
  padding-left: 0;
}

.footer-list li+li {
  margin-top: 9px;
}
/* join footer section */
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .join-section {
    margin-left: 70px;
    width: 206px;
    }

  .join {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 20px;
  }

  .join-social {
    display: flex;
    align-items: center;
  }

  .join-social-link {
    color: var(--main-background);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; 
    display: flex;  
    justify-content: center;
    align-items: center;  

    transition: background-color 250ms var(--cubic);
      }
  
  .join-social-item:not(:last-child) {
    margin-right: 10px;
     }

  .join-social-link:hover, .join-social-link:focus {
    background-color: var(--accent-color);
  }

  .join-social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

/* portfolio */
.filter {
  display: flex;
  justify-content: center;
}
.filter li+li {
  margin-left: 8px;
}

.filter-button {
  background-color: var(--secondary-background);
  color: var(--title-color);
  line-height: 1.625;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid var(--secondary-background);
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms var(--cubic), 
  color 250ms var(--cubic), 
  border 250ms var(--cubic), 
  box-shadow 250ms var(--cubic);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portfolio {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  line-height: 1.875;
  color: var(--main-text);
  font-size: 16px;
}
.projects.list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  margin-bottom: 30px;  
  margin-left: 30px;
}

.projects li:nth-child(3n+1) {
  margin-left: 0;
}
.projects li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-item-link {
  display: block;
  width: 370px;
  position: relative;

  transition: box-shadow 250ms var(--cubic);
}

.project-item-link:hover, .project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.thumb-portfolio {
  display: block;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 370px;
}

.portfolio-overlay {
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;

  transition: transform 250ms var(--cubic);
  transform: translateY(101%);
  opacity: 90%;
}

.portfolio-overlay-text {
position: absolute;
display: block;
width: 322px;
height: 100%;
top: 63px;
left: 24px;

font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: var(--main-background);

transition: transform 250ms var(--cubic);
transform: translateY(101%);
}

.project-item-link:hover .portfolio-overlay, .project-item-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.project-item-link:hover .portfolio-overlay-text, .project-item-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}

.project-text {
  width: 370px;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

/* модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--cubic);   
}

.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 300%) scale(3);    
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 300ms var(--cubic);
  padding: 40px;
}



.modal-close {
  width: 11px;
  height: 11px;
  fill: currentColor;    
}

.modal-button {
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-background);
  color: #000000;
  border: 1px solid #0000001A;
  border-radius: 50%;

  transition: color 250ms var(--cubic);    
}

.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
}

.modal-title {
  color: var(--title-color);
  font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
}

.form-field {
  display: block;
  position: relative;
  width: 448px;
  height: 58px;
  margin-bottom: 10px;
}

.label {
  font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

position: absolute;
top: -11px;
left: 0;
transform: translateY(-50%);
user-select: none;
}

.input-tab {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  outline: none;

  transition: border-color 250ms var(--cubic), color 250ms var(--cubic);
}

.input-tab:hover, 
.input-tab:focus {
  border-color: var(--accent-color);
}

.modal-form-icon-div {
  color: var(--title-color);
  transition: color 250ms var(--cubic);
}

.modal-form-icon-div:hover,
.modal-form-icon-div:focus {
  color: var(--accent-color);
}

.input-tab:hover ~ .modal-form-icon-div, 
.input-tab:focus ~ .modal-form-icon-div {
  color: var(--accent-color);
}

.modal-form-icon-div {
  color: var(--title-color);
}

.input-tab:not(:placeholder-shown) ~ .modal-form-icon-div {
  color: var(--accent-color);
}
.input-tab:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.modal-form-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
}

.comment-field {
  display: block;
  position: relative;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
}

.comment {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  user-select: none;
}

.checkbox-square {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;  
}

.agreement-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.agreement-check {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.agreement-check::before {
    content: ' ';
    margin-right: 8px;
    min-width: 16px;
    min-height: 15px;
    background-origin: border-box;
    background-size: cover;
    cursor: pointer;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 4px; 
    margin-right: 8px;
    transition: background-image 250ms var(--cubic);    
}

.checkbox:checked ~ .agreement-check::before {
  background-image: url("../images/iconcheck.svg");
  border: none;  
}

.icon-check {
  width: 11px;
  height: 8px;
}

/* .agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  user-select: none;
}

.checkbox-square {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox:checked + .checkbox-square {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.agreement-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.icon-check {
  width: 11px;
  height: 8px;
} */

.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-background);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  

  transition: border-color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.submit:hover,
.submit:focus {
  border-color: var(--hero-button-hover);
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-section {
margin-left: 93px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;

  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;  
  letter-spacing: 0.06em;
  color: var(--main-background);

  cursor: pointer;
}

.subscribe-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);
  padding: 15px 16px;
  color: var(--white);
}